 html, body {
     height: 100%;
}
 body {

     background-color: rgb(235 238 243);
}
 p {
     text-align: center;
     margin: 0 auto;
}

 .login-form {
     display: flex;
     min-width: 400px;
     width: 400px;
     margin: 0 auto;
     margin-top: 20px;
     flex-direction: column;
}
input {
     margin-bottom: 1.5rem;
}
 

/* query-msg */

 #resp-msg {
     display: none;
     margin-top: 2rem;
}
 .alert {
     position: relative;
     padding: .50rem 1.25rem;
     margin-bottom: 1rem;
     border: 1px solid transparent;
     border-radius: .25rem;
}

.auth-container {
    min-width: 500px;
    margin: 30px 350px;
    padding: 30px;
    padding-top: 0px;
    background-color: #fff;
}
.submit-btns {
     margin: 0 auto;
     display: block;
     
}
#auth-p1 {
     color: #1d1d1d;
     font-size: 16pt;
}

img {
     margin: auto;
     display: block;
     width: 200px;
}

#signup-group, #register-btn {
     display: none;
}

.info-container {
    min-width: 960px;
     margin-top: 30px;
    padding: 50px;
    padding-top: 2px;
    background-color: #fff;
     text-align: center;
}

.bighead {
     display: block;
     text-align: left;
     border-left: 2px solid #78c2ad;
     padding-left: 10px;
     font-size: 30px;
     margin-top: 20px;
     margin-bottom: 10px;
}

.mobs {
     width: 100px;
}

.mobs-arrow {
     width: 50px;
     margin-top: 30px;
}
